[submodule "hw"]
	path = hw
	url = git@github.com:ECE445L/ECE445L-Hardware-Libraries.git
	branch = main
[submodule "Resources"]
	path = Resources
	url = git@github.com:ECE445L/ECE445L-Resources.git
[submodule "sw/inc"]
	path = sw/inc
	url = git@github.com:ECE445L/ECE445L-Software-Libraries.git
